body {
    /*display: block;*/
    font-family: Georgia;
    font-size: 17px;
    color: black;
    margin: 0;
}

/*HEADER SECTION*/
header {
    width: 100%;
    height: 80px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo span {
    color: mediumaquamarine;
    padding: 10px;
}
.header nav {
   display: flex;
   flex-wrap: no-wrap;
   padding-right: 20px;
}
nav span {
    padding: 20px;
} 


/*CONTENT SECTION*/
.content {
    display: flex;
}
/*FIRST COLUMN*/
.columnlarge {
    width: 630px;
    height: auto;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 110px;
}
.leadstory {
    display: flex;
    flex-direction: column;
}
.imagecontent {
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 630px;
    background-image: url(../images/img-story-main.png);
    justify-content: center;
}
.imagecontent span {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-left: 20px;
    
}
.stories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagestory2 {
    display: flex;
    flex-direction: column;    
    height: 300px;
    background-image: url(../images/img-story-2.png);
    justify-content: center;
    margin-top: 30px;
    margin-right: 25px;
}
.imagestory2 span {
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 15px;
}
.imagestory3 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: auto;
    background-image: url(../images/img-story-3.png);
    justify-content: center;
    margin-top: 30px;
    margin-right: 19px;
}
.imagestory3 span {
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}
/*SECOND COLUMN*/
.columnmedium {
    width: 300px;
    height: 1000px;
    border: 3px solid black;
    display: flex;
    margin-top: 110px;
}
/*THIRD COLUMN*/
.columnsmall {
    width: 240px;
    height: 1000px;
    border: 3px solid black;
    display: flex;
    margin-top: 110px;
}
