body {
    /*display: block;*/
    font-family: Georgia;
    font-size: 17px;
    color: black;
    margin: 0;
}

/*HEADER SECTION*/
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
    min-width: 500px;
}
.logo span {
    color: mediumaquamarine;
    padding: 10px;
}
.navigation {
   padding-right: 20px;
   min-width: 300px;
}
.navigation span {
    display: inline-block;
    padding: 20px 10px;
} 
.navigation span a {
    color: black;
}


/*CONTENT SECTION*/
.content {
    display: flex;
}

/*FIRST COLUMN*/
.columnlarge {
    width: 630px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-right: 32px;
}
.leadstory {
    display: flex;
    flex-direction: column;
}
.imagecontent {
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 630px;
    background-image: url(../images/img-story-main.PNG);
    justify-content: center;
}
.imagecontent span {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-left: 20px;
}
.stories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagestory2 {
    display: flex;
    flex-direction: column;    
    height: 300px;
    background-image: url(../images/img-story-2.PNG);
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-right: 25px;
}
.imagestory2 span {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin: 15px;
}
.imagestory3 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: auto;
    justify-content: center;
    background-image: url(../images/img-story-3.PNG);
    text-align: center;
    margin-top: 40px;
    margin-right: 19px;
}
.imagestory3 span {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

/*SECOND COLUMN*/
.columnmedium {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-right: 32px;
}
.story1 {
    display: flex;
    flex-direction: column;
}
.imagestory1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: center;
    background-image: url(../images/img-story-1.png);
    text-align: center;
    margin-top: 15px;
}
.imagestory1 span {
    font-weight: bold;
    font-size: 30px;
    color: white;
    
}

/*THIRD COLUMN*/
.columnsmall {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 1000px;
    display: flex;
    margin-top: 110px;
    margin-right: 32px;
}
.imagebite {
    height: 240px;
}
.newsbites {
    display: flex;
    flex-direction: column;
}
.newsbites h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.newsbites span {
    font-family: Verdana;
    font-size: 12px;
    color: dimgray;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    padding: 10px;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    margin-top: 115px;
    height: 325px;
    width: 100%;
    background-color: mediumaquamarine;
    align-items: center;
    justify-content: center;
    font-family: Verdana;
    font-size: 12px;
}
.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerecho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
    width: 100%;
}
.headerecho nav {
    display: inline-block;
    padding: 5px 25px;
}
.headerecho nav a {
    color: black;
    padding: 10px;
}
.title {
    display: inline-block;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-right: 2px solid white;
    padding: 2px 25px;
}



